@font-face { font-family: 'AvenirNext-Bold';
    src: url('/Assets/fonts/AvenirNextLTPro-Bold.otf');
    src: url('/Assets/fonts/AvenirNextLTProBold.ttf');
} 


@font-face {
    font-family: 'AvenirNext-Demi';
    src: url(/Assets/fonts/AvenirNextLTPro-Demi.otf);
    src: url(/Assets/fonts/AvenirNextLTProDemi.ttf);
}

@font-face {
    font-family: 'AvenirNext-Regular';
    src: url(/Assets/fonts/AvenirNextLTPro-Regular.otf);
    src: url(/Assets/fonts/AvenirNextLTPro.ttf);
}


