// common screen sizes
//mobile 0 - 599px
// tablet 600px - 900px portrait
//tablet 900px - 1200px landscape
//desktop 1200px - 1800px
//big desktop 1800px

@mixin tablet {
    @media all and (min-width: 768px) and (max-width:1279px)
    {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width:1280px) and (max-width: 1920px)
    {
        @content;
    }
}

@mixin CTA-default{
    background-color: #323232;
    color: #FFFFFF;
} 

@mixin secondary {
    &:hover {
    background-color: $bandSite-DarkBlack;
    color: #FFFFFF;
}
}