@use './mix-ins' as *;


@font-face { 
    font-family: 'Avenir Next';
    src: url('/Assets/fonts/AvenirNextLTPro-Bold.otf') format("opentype");
    src: url('/Assets/fonts/AvenirNextLTProBold.ttf') format("opentype");
    font-style: normal;
    font-weight: 700;
} 


@font-face {
    font-family: 'Avenir Next';
    src: url('/Assets/fonts/AvenirNextLTPro-Demi.otf') format("opentype");
    src: url('/Assets/fonts/AvenirNextLTProDemi.ttf') format("opentype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/Assets/fonts/AvenirNextLTPro-Regular.otf') format("opentype");
    src: url('/Assets/fonts/AvenirNextLTPro.ttf') format("opentype");
    font-style: normal;
    font-weight: 400;
}


// mobile text styles

.page__header {

    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: 'Avenir Next';
    
    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
}
    @include desktop {
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
}


.section__header {

    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    font-family: 'Avenir Next';
    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
    @include desktop {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

.section__subheader {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
    font-family: 'Avenir Next';
    padding-left: 1rem;
    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-left: 5.3125rem;

    }
    @include desktop {
        font-size: 1.5rem;
        line-height: 2rem;
        padding-left: 7.5rem;
    }
}

.navbar__subheader {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
    font-family: 'Avenir Next';
    @include tablet {
        font-size: 1.25rem;
        line-height: 2rem;
    }
    @include desktop {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.label__header {
    font-size: .625rem;
    line-height: 1.25rem;
    font-weight: 700;
    font-family: 'Avenir Next';
}

p {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: 'Avenir Next';
    @include tablet {
        font-size: .875rem;
        line-height: 1.375rem;
    }
    @include desktop {
        font-size: .875rem;
        line-height: 1.375rem;
    }
}

footer p {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    font-family: 'Avenir Next';
    @include tablet {
        font-size: .875rem;
        line-height: 1.25rem;
    }
    @include desktop {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}

.footer__subheader {
    font-weight: 600;
}

//affects the actual text in the quote
.bio__quote--text {
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 600;
    @include tablet {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 600;
    
}
    @include desktop {
        font-size: 1rem;
        line-height: 1.125rem;
        font-weight: 600;
    }
}

.bio__quote--final {
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 600;
    @include tablet {
        font-size: 1rem;
        font-weight: 600;
}
    @include desktop {
        font-size: 1rem;
        font-weight: 600;
    }
}

