@use './mix-ins' as *;

@font-face { 
    font-family: 'Avenir Next';
    src: url('/Assets/fonts/AvenirNextLTPro-Bold.otf') format("opentype");
    src: url('/Assets/fonts/AvenirNextLTProBold.ttf') format("opentype");
    font-style: normal;
    font-weight: 700;
} 

@font-face {
    font-family: 'Avenir Next';
    src: url('/Assets/fonts/AvenirNextLTPro-Demi.otf') format("opentype");
    src: url('/Assets/fonts/AvenirNextLTProDemi.ttf') format("opentype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/Assets/fonts/AvenirNextLTPro-Regular.otf') format("opentype");
    src: url('/Assets/fonts/AvenirNextLTPro.ttf') format("opentype");
    font-style: normal;
    font-weight: 400;
}