//Primary Colors
$primary-background--dark: #323232;
//dark on light color. dark background
$text-color--secondary: #AFAFAF;
//inactive cta text color. secondary text color
$text-color--primary: #FFFFFF;
//primary text color for ligjt on dark. Active CTA text color
//Secondary Colors
$background-hover: #000000;
//CTA hover state
$color-divider: #E1E1E1;
//Divider line. form field outline
$alternative-background: #FAFAFA;
//alternative light background color


