//Primary Colors
$primary-background--dark: #323232;
//dark on light color. dark background
$text-color--secondary: #AFAFAF;
//inactive cta text color. secondary text color
$text-color--primary: #FFFFFF;
//primary text color for ligjt on dark. Active CTA text color
// fix below
//Secondary Colors
$bandSite-DarkBlack: #000000;
//CTA hover state
$mercury: #E1E1E1;
//Divider line. form field outline
$alabaster: #FAFAFA;
//alternative light background color


