@font-face {
  font-family: "Avenir Next";
  src: url("/Assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  src: url("/Assets/fonts/AvenirNextLTProBold.ttf") format("opentype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/Assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  src: url("/Assets/fonts/AvenirNextLTProDemi.ttf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/Assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  src: url("/Assets/fonts/AvenirNextLTPro.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
.page__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir Next";
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .page__header {
    font-size: 60px;
    line-height: 68px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .page__header {
    font-size: 60px;
    line-height: 68px;
  }
}

.section__header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Avenir Next";
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .section__header {
    font-size: 36px;
    line-height: 44px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .section__header {
    font-size: 36px;
    line-height: 44px;
  }
}

.section__subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Avenir Next";
  padding-left: 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .section__subheader {
    font-size: 24px;
    line-height: 32px;
    padding-left: 85px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .section__subheader {
    font-size: 24px;
    line-height: 32px;
    padding-left: 120px;
  }
}

.navbar__subheader {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Avenir Next";
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .navbar__subheader {
    font-size: 24px;
    line-height: 32px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .navbar__subheader {
    font-size: 24px;
    line-height: 32px;
  }
}

.label__header {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Avenir Next";
}

p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Avenir Next";
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

footer p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Avenir Next";
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  footer p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  footer p {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer__subheader {
  font-weight: 600;
}

.bio__quote--text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .bio__quote--text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bio__quote--text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
  }
}

.bio__quote--final {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .bio__quote--final {
    font-size: 16px;
    font-weight: 600;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bio__quote--final {
    font-size: 16px;
    font-weight: 600;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar__container {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .navbar__container {
    display: flex;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .navbar__container {
    display: flex;
  }
}

.navbar__logo-container {
  width: 100%;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .navbar__logo-container {
    width: 25%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .navbar__logo-container {
    width: 30%;
  }
}

.navbar__logo {
  height: 8vh;
  width: 100%;
  padding: 16px;
  margin: 16px 0;
}

.navbar__links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  width: 100%;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .navbar__links-container {
    width: 40%;
    max-width: 40%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .navbar__links-container {
    width: 30%;
    max-width: 30%;
  }
}

.navbar__links {
  width: 100%;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .navbar__links {
    margin: 10% 0 0 15%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .navbar__links {
    margin-top: 8%;
  }
}
.navbar__links--active {
  border-bottom: 4px solid #FFFFFF;
  padding-bottom: 10px;
  width: 100%;
  max-width: 100%;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .navbar__links--active {
    padding: 0 16px 0 0;
    width: 40%;
    max-width: 40%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .navbar__links--active {
    padding: 0 16px 0 0;
    width: 40%;
    max-width: 40%;
  }
}
.navbar__links--inactive {
  color: #AFAFAF;
}
.navbar__links--inactive:hover {
  border-bottom: 4px solid #FFFFFF;
  padding-bottom: 10px;
  width: 30%;
  max-width: 30%;
}

.hero__section {
  display: flex;
  flex-direction: column;
  height: 60vw;
  width: 100%;
  background-image: url(/Assets/images/hero-bio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__section--overlay {
  display: flex;
  flex-direction: column;
  background-color: rgba(50, 50, 50, 0.5019607843);
  height: 60vw;
  justify-content: center;
  align-items: flex-start;
  padding-left: 16px;
}

.hero__title {
  color: #FFFFFF;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    margin-left: 20%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .hero__title {
    margin-left: 10%;
    margin-bottom: 2%;
    font-size: 55px;
  }
}

.bio__section {
  padding: 0 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .bio__section {
    padding: 0 36px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bio__section {
    padding: 0 36px;
  }
}

.bio__header {
  padding-top: 24px;
  padding-bottom: 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .bio__header {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bio__header {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}

.bio__image {
  width: 90vw;
  height: 60vw;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .bio__image {
    padding: 0 50px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bio__image {
    padding: 0 80px;
  }
}

.bio__quote {
  padding: 16px 0;
  width: 100%;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .bio__quote {
    width: 95%;
    padding: 36px 0 36px 7%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bio__quote {
    width: 75%;
    padding: 36px 0 36px 7%;
  }
}
.bio__quote--final {
  padding-top: 5px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .bio__quote--final {
    padding-top: 2%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .bio__quote--final {
    padding-top: 2%;
  }
}

.text__container {
  padding: 0 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .text__container {
    display: flex;
    padding: 0 85px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .text__container {
    display: flex;
    padding: 0 120px 20px 120px;
    width: 95%;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .text__section--lower {
    padding-left: 20px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .text__section--lower {
    padding-left: 30px;
  }
}

.text__section {
  padding-bottom: 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .text__section {
    display: flex;
  }
}

.photos__section {
  background-color: #FAFAFA;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .photos__section {
    padding-bottom: 3%;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .photos__section {
    padding-bottom: 1.5%;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .photo__gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .photo__gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.photo__header {
  padding: 24px 16px 16px 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .photo__header {
    padding: 24px 16px 16px 56px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .photo__header {
    padding: 3% 6%;
  }
}

.photo__image {
  width: 100%;
  height: 60vw;
  padding: 0 16px;
  margin-bottom: 16px;
  background-size: cover;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .photo__image {
    width: 30%;
    height: 20vw;
    background-size: cover;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .photo__image {
    width: 30%;
    height: 20vw;
    background-size: cover;
  }
}

.footer__container {
  background-color: #323232;
  color: #FFFFFF;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .footer__container {
    position: relative;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .footer__container {
    position: relative;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .footer__container--social {
    display: flex;
    align-items: center;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .footer__container--social {
    display: flex;
    align-items: center;
  }
}

.footer__header {
  padding: 24px 16px 16px 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .footer__header {
    padding: 24px 16px 16px 25px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .footer__header {
    padding: 24px 16px 16px 25px;
  }
}

.social__icon-container {
  padding-bottom: 16px;
  display: flex;
  width: 40vw;
  justify-content: space-between;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .social__icon-container {
    padding: 0 0 0 5px;
    width: 20vw;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .social__icon-container {
    padding-bottom: 0;
    width: 20vw;
  }
}

.social__icon {
  padding-left: 16px;
}

.footer__contacts-container {
  padding: 0 0 16px 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .footer__contacts-container {
    display: flex;
    justify-content: space-around;
  }
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .footer__management {
    width: 30vw;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
  .footer__management {
    display: flex;
  }
}

.footer__contact {
  padding-bottom: 16px;
}
.footer__contact--address {
  font-style: normal;
}
.footer__contact--emails {
  text-decoration: none;
  color: white;
}

.navbar__logo--footer {
  padding-bottom: 16px;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .navbar__logo--footer {
    position: absolute;
    left: 80%;
    bottom: 80%;
  }
}

.footer__logo {
  padding: 0 0 16px 16px;
}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .footer__contact--closing {
    padding-left: 10px;
  }
}/*# sourceMappingURL=bio.css.map */