@use '../styles/partials/global';
@use '../styles/partials/variables' as *;
@use '../styles/partials/mix-ins' as *;
@use '../styles/partials/typography' as *;


.navbar__container {
width: 100%;
background-color: $primary-background--dark;
color: $text-color--primary;


    //  @include mobile;
     @include  tablet {
        display:flex;
}
     
     @include desktop {
        display:flex;
     }
}

.navbar__logo-container{
    width: 100%;

    @include tablet {
        width: 25%;
    } 

    @include desktop {
        width: 30%;
    }
}

.navbar__logo {
height: 8vh;
width: 100%;
padding: 16px;
margin:16px 0;
}

.navbar__links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    width: 100%;

    @include tablet {
        width: 40%;
        max-width: 40%;
    }

    @include desktop {
        width: 30%;
        max-width: 30%;
    }
}

.navbar__links {
    width: 100%;

    @include tablet {
        //this is affecting the border line
        margin: 10% 0 0 15%;
    }
    @include desktop {
                //this is affecting the border line
        margin-top: 8%;
    }
    
    &--active {
        border-bottom: 4px solid $text-color--primary;
        padding-bottom: 10px;
        width: 100%;
        max-width: 100%;

        @include tablet {
            padding: 0 16px 0 0;
            width: 40%;
            max-width: 40%;
            
        }

        @include desktop {
            padding: 0 16px 0 0;
            width: 40%;
            max-width: 40%;
        }

    }

    &--inactive {
        color: $text-color--secondary;

        &:hover {
            border-bottom: 4px solid $text-color--primary;
        padding-bottom: 10px;
        width: 30%;
        max-width: 30%;
        }
    }
    
}

//hero section begins
.hero__section{
display: flex;
flex-direction: column;
height: 60vw;
 width: 100%;
background-image: url(/Assets/images/hero-bio.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.hero__section--overlay {
    display: flex;
    flex-direction: column;
    background-color: #32323280;
    height: 60vw;
    justify-content: center;
    align-items: flex-start;
    padding-left: 16px;

}

.hero__title {
    color: $text-color--primary;
    
    // padding: 20%;
    @include tablet {
        margin-left: 20%;
    }
    @include desktop {
        margin-left: 10%;
        margin-bottom: 2%;
        font-size: 55px;
    }
}

// Bio section begins

.bio__section {
    padding: 0 16px;
    @include tablet {
        padding: 0 36px;
    }
    @include desktop {
        padding: 0 36px;
    }
    }


.bio__header {
    padding-top: 24px;
    padding-bottom: 16px;
    @include tablet {
        padding-top: 48px;
        padding-bottom: 36px;
    }
    @include desktop {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}

.bio__image {
    width: 90vw;
    height: 60vw;


    @include tablet {
        padding: 0 50px;
    }

    @include desktop {
        padding: 0 80px;
    }
}
//spacing of the actual quote box
.bio__quote {
    padding: 16px 0;
    width: 100%;
    
    @include tablet {
        width: 95%;
        padding: 36px 0 36px 7%;
    }
    @include desktop {
        width: 75%;
        padding: 36px 0 36px 7%;
    }


    &--final {
        padding-top: 5px;
        @include tablet {
            padding-top: 2%;
        }
        @include desktop {
            padding-top: 2%;
        }
    }
}

//text body



.text__container {
    padding: 0 16px;
    @include tablet {
        display: flex;
        padding: 0 85px;
    }
    @include desktop {
        display: flex;
        padding: 0 120px 20px 120px;
        width: 95%;
    }
}

.text__section--lower {
    @include tablet {
        padding-left: 20px;
    }
    @include desktop {
        padding-left: 30px;
    }
}

.text__section {
    padding-bottom: 16px;
    @include tablet {
        display: flex;
    }
}

//photo gallery

.photos__section {
    background-color: $alternative-background;

    @include tablet {
        padding-bottom: 3%;
    }
    @include desktop {
        padding-bottom: 1.5%;
    }
}

.photo__gallery-container {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.photo__header{
    padding: 24px 16px 16px 16px;
    @include tablet {
        padding: 24px 16px 16px 56px;
    }
    @include desktop {
        padding: 3% 6%;
    }
}

.photo__image {
width: 100%;
height: 60vw;
padding: 0 16px;
margin-bottom: 16px;
background-size: cover;
   
@include tablet {
    width: 30%;
    height: 20vw;
    background-size: cover;
}
@include desktop {
    width: 30%;
    height: 20vw;
    background-size: cover;
}
}

//footer section begins

.footer__container {
    background-color: $primary-background--dark;
    color: $text-color--primary;
    @include tablet {
        position: relative;
    }
    @include desktop {
        position: relative;
    }
}

.footer__container--social {
    @include tablet {
        display: flex;
        align-items: center;
    }
    @include desktop {
        display: flex;
        align-items: center;
    }
}

.footer__header {
    padding: 24px 16px 16px 16px;
    @include tablet {
        padding: 24px 16px 16px 25px;
    }
    @include desktop {
        padding: 24px 16px 16px 25px;
    }
}

 .social__icon-container {
    padding-bottom: 16px;
    display: flex;
    width: 40vw;
    justify-content: space-between;
    @include tablet {
        padding: 0 0 0 5px;
        width: 20vw;
    }
    @include desktop {
        padding-bottom: 0;//add some here
        width: 20vw;
    }
 }

  .social__icon {
     padding-left: 16px;
  }

  .footer__contacts-container {
    padding: 0 0 16px 16px;
    @include tablet {
        display: flex;
        justify-content: space-around;
    }
  }

 .footer__management {
     @include tablet {
        width: 30vw;
    }
    @include desktop {
        display: flex;
    }
 }

  .footer__contact {
    padding-bottom: 16px;
    
    &--address {
        font-style: normal;
    }
    &--emails {
        text-decoration: none;
        color: white;
    }
  }

.navbar__logo--footer {
    padding-bottom: 16px;
    @include tablet {
        position: absolute;
        left: 80%;
        bottom: 80%;
    }
}

.footer__logo {
    padding: 0 0 16px 16px;
}

.footer__contact--closing {
    @include tablet {
        padding-left: 10px;
    }
}