@use './partials/global';
@use './partials/variables' as *;
@use './partials/mix-ins' as *;
@use './partials/typography' as *;


.hero__section{
    display: flex;
    flex-direction: column;
    height: 100vw;
     width: 100%;
    background-image: url(/Assets/images/hero-shows.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include tablet {
        height: 80vw;
    }
    @include desktop {
        height: 50vw;
    }
    }

    .hero__section--overlay {
        display: flex;
        flex-direction: column;
        background-color: #32323280;
        height: 100vw;
        justify-content: center;
        align-items: flex-start;
        padding-left: 1rem;
        @include tablet {
            height: 80vw;
        }
        @include desktop {
            height: 50vw;
        }
    }

    .hero__container {
        display: flex;
        flex-direction: column;
    }
    //actual heading of the hero title
    .hero__title {
        color: $text-color--primary;
        width: 75vw;
        height: 100vh;
        padding: 10% 0 0 4%;
        font-size: 26px;
        line-height: 2rem;
        font-family: 'Avenir Next';
        font-weight: 600;
        @include tablet {
            font-size: 65px;
            line-height: 65px;
            letter-spacing: 1.5px;
            padding: 8% 0 0 3%;
            width: 85vw;
        }
        @include desktop {
            width: 50vw;
            padding: 20% 0 0 4%;
            margin-left: 5%;
            font-size: 70px;
            line-height: 70px;
        }
    }

.text__subheader--hero {
        font-weight: 500;
        font-family: 'Avenir Next';
        color: $text-color--primary;
        height: 13vh;
        padding: 10% 0 0 4%;
        @include tablet{
            padding: 22% 0 0 3%;
            font-size: 26px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        @include desktop {
            width: 50vw;
            padding: 10% 0 0 4%;
            margin-left: 5%;
            font-size: 30px;
            position: relative;
            top: 170px;
        }
    }

.media__player {
    width: 100%;
    height:100%;
    padding: 0 3% 5% 7%;
    position: relative;
    bottom: 35%;
    @include tablet {
        width: 70%;
        height: 100%;
        padding: 0 3% 5% 6%;
        bottom: 30%;
    }
    @include desktop {
        width: 40%;
        position: relative;
        left: 670px;
        bottom: 260px;
    }
}
//javascript begins
.showInformation {
    padding-left: 16px;
    @include tablet {
        padding-left: 0;
    }
}

.show__header {
    display: flex;
    flex-direction: column;
    padding: 5% 0 5% 7%;
    @include tablet {
        padding: 5% 0 5% 9%;
    }
    @include desktop {
        padding: 5% 0 0 9%;
    }
}

.main__header {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding: 16px 0 0 16px;
    @include tablet {
        padding: 5% 0 5% 8%;
    }
    @include desktop {
        padding: 0 0 0 8%;
    }
}

.showsList {
    list-style-type: none;
    padding: 1% 0 5% 8%;
    border-bottom: 2px solid $text-color--secondary;
    font-family: 'Avenir Next';
    font-weight: 600;
    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 5% 4%;
    }
    @include desktop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0 5% 4%;
        width: 60%;
        margin-left: 25%;
    }
}

.showsList:hover {
    background-color: #FAFAFA;
}


.selected {
    background-color: $text-color--secondary;
}

.dateHeaders {
    padding: 2.5% 0 0 0;
    color: $text-color--secondary;
    @include tablet {
        padding: 5% 5% 8% 0;
    }
    @include desktop {
    position: relative;
    left: 200px;
    bottom: 50px;
    }
}

.actualDate {
    padding: 1% 0 4% 0;
    @include tablet {
position: relative;
top: 40px;
right: 70px;
padding-right: 2%;
    }
    @include desktop {
        position: relative;
top: 40px;
right: 230px;
    }
}

.venue {
    padding: 2% 0 0 0;
    color: $text-color--secondary;
@include tablet {
        position: relative;
        top: 20px;
        right: 40px;
    }
    @include desktop {
        position: relative;
        left: 80px;
        bottom: 50px;
        }
}

.actualVenue {
    padding: 1% 0 4% 0;
    @include tablet {
        position: relative;
        top: 40px;
        right: 0;
        padding-right: 10%;
            }
            @include desktop {
                position: relative;
                top: 40px;
                right: 150px;
                    }
            }

.location {
    padding: 2% 0 0 0;
    color: $text-color--secondary;
    @include tablet {
        position: relative;
        top: 20px;
        right: 70px;
    }
    @include desktop {
        position: relative;
        right: 70px;
        bottom: 50px;
        }
}

.actualLocation {
    padding: 1% 0 4% 0;
    @include tablet {
        position: relative;
        top: 40px;
        right: 0;
            }
     @include desktop {
        position: relative;
        top: 40px;
        right: 60px;
                    }
}

.showsButton {
    width: 90%;
    padding: 4% 0;
    background-color: $primary-background--dark;
    color: $text-color--primary;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Avenir Next';
    border-radius: 5px;
    cursor: pointer;
    @include tablet {
        position: relative;
        left: 50px;
        width: 20vw;
        padding: 6%;
        top: 20px;
    }
    @include desktop {
        position: relative;
        width: 12vw;
        padding: 5%;
        top: 30px;
    }
}

.showsButton:focus{
    background-color: yellow;
    color: black;
}

.lastDiv {
padding: 20%;
}

.hidden {
    @include tablet {
        display: none;
    }
    @include desktop {
        display: none;
    }
}

.show__section--headers {
    display: none;
    @include tablet{
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
    @include desktop{
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
}
//footer subheaders
.text__subheader {
    font-weight: 600;
        color: $text-color--primary;
}

